
<!-- footer-->
<div class="bg-dark" style="width: 100%;height: 15rem;">
    <div class="bg-dark"><h2 class="text-white text-center"><strong>Contactanos</strong></h2></div>
<div class="bg-dark">
    <div class="row dflex justify-content-center">
        <div class="col-sm-3 my-4">
          <div class="card bg-dark">
            <div class="card-body">
              <h5 class="card-title"></h5>
              <div>
                    <p class="text-white"><strong>Celular:</strong></p>
                    <p class="text-white">(+57) 305 818 06 86</p>
                    <p class="text-white"><strong>Email:</strong></p>
                    <p class="text-white">academiaorodeofir@gmail.com</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-3 my-4">
            <div class="card bg-dark">
              <div class="card-body" >
                <h5 class="card-title"></h5>
                <div class="container">
                    <p class="text-white"><strong>Horarios de Atencion:</strong></p>
                    <p class="text-white">Lunes a Viernes 9:00Am - 5:00Pm</p>
                    <p class="text-white">Sabados 9:00Am - 2:00Pm</p>
                </div>
              </div>
            </div>
          </div>

        <div class="col-sm-3 my-4">
          <div class="card bg-dark">
            <div class="card-body" >
              <h5 class="card-title"></h5>
              <div class="container">
                <div>
                    <h2 class="text-white text-center"><strong>Nuestras Redes</strong></h2>
                </div>
                <div class="justify-content-center m-4" >
                   <a href="https://www.facebook.com/academiaorodeofir" target="_blank"><img class="mx-4" width="30" height="30" src="assets/img/imgfooter/facebook.png" alt=""></a> 
                    <a href="https://www.instagram.com/academiamusicalorodeofir/"target="_blank"><img   width="30" height="30" src="assets/img/imgfooter/instagram.png" alt=""></a>
                    <a href="https://wa.me/+573058180686"target="_blank"><img   width="30" height="30" src="assets/img/imgfooter/whatsapplogo.png" alt=""></a>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>

   
    <!--copyright-->
    <div class="bg-dark">
        <p class="text-white text-center"><strong>Copyright © 2020. Edwar Triana | Todos los derechos reservados.</strong></p>
    </div>


