<nav class="barra navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/img/logo adecuado.jpg" style="width: 4rem; height: 5rem;" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown"  style="margin-left: 55%;">
      <ul class="navbar-nav">
        <div class="mx-2">
          <li class="menu1 nav-item">
            <a class=" nav-link active" aria-current="page" href="http://localhost:4200/home">Inicio</a>
          </li>
        </div>
        <div class="mx-2">
          <li class="menu1 nav-item">
            <a class=" nav-link" href="https://edwartriana.github.io/academia/cursos">Cursos</a>
          </li>
        </div>
        <div class="mx-2">
          <li class=" menu1 nav-item dropdown">
            <a class=" nav-link dropdown-toggle" href="https://edwartriana.github.io/academia/quienessomos?" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Quienes Somos?
            </a>
            <ul class="dropdown-menu mx-2" aria-labelledby="navbarDropdownMenuLink">
              <li><a class=" menu1 dropdown-item" href="https://edwartriana.github.io/academia/quienessomos?">Quienes Somos?</a></li>
              <li><a class="menu1 politica dropdown-item" href="https://edwartriana.github.io/academia/politicadeprivacidad">Politica de Privacidad</a></li>
              <li><a class=" menu1 terminos dropdown-item" href="https://edwartriana.github.io/academia/terminosycondiciones">Terminos y Condiciones</a></li>
            </ul>
          </li>
        </div>
       <div class="mx-2">
        <li class="menu1 nav-item">
          <a class="menu2 nav-link" href="https://edwartriana.github.io/academia/contactanos">Contactanos</a>
        </li>
       </div>
        
      </ul>
    </div>
  </div>
</nav>