
<div style="width: 100%; height: 25rem;">
  <div class="d-flex justify-content-center" style="width: 100%; height: 30rem;">
    <img  class="img-fluid" src="assets/img/portadainicio.jpg" alt="" style="width: 100%; height: 30rem;">
</div>
</div>


<!--servicios-->
<div class="d-flex justify-content-center bg-success" style="width: 100%; height: 30rem;">
    <div class="row bg-dark d-flex justify-content-center bg-success" style="width: 100%;" >
        <div class="col-sm-4" >
          <div class=" card bg-dark " style="height: 20rem; margin-top: 4rem;">
            <div class="card-body bg-dark ">
              <h3 class="decripcion card-title text-white display-3 text-center"><strong>Servicios</strong></h3>
              <p class="descripcion card-text text-white"><strong>En la academia musical oro de ofir brindamos formación en educación musical online enfocada a personas de cualquier lugar de Colombia sin ningún conocimiento en esta materia, de manera personalizada o en grupos no mayor a cuatro personas, en instrumentos como piano, bajo, guitarra acústica, guitarra eléctrica, bateria, técnica vocal, violin, saxofón, entre otros...</strong></p>
              <a href="https://wa.me/+573058180686"target="_blank" class="contactanosInicio btn btn-primary">Contactanos</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 bg-dark " style="height: 25rem; margin-top: 4rem;">
          <div class="card bg-dark">
            <div class="descripcion card-body bg-dark">
              <div class="">
                  <img class="" src="assets/img/serviciosinicio.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="my-2">
  <hr>
</div>
<!--carrusel cursos-->
<div class="bg-secondary" style="width: 100%; height: 25rem; margin-top: 1rem; margin-bottom: 8rem; ">
  <div>
    <h2 class="text-center display-4 text-white"><strong>Nuestros Cursos</strong></h2>
  </div>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
     
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      
    </div>
    <div class="carousel-inner" style="width: 100%; height: 35rem;">
      
      <div class="carousel-item active" style="width: 100%; height: 25rem;">
        <img src="assets/img/cantoinicio.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <a href="https://wa.me/+573058180686"target="_blank" class="contactanosInicio btn btn-primary">Contactanos</a>
        </div>
      </div>
      <div class="carousel-item" style="width: 100%; height: 25rem;">
        <img src="assets/img/pianoinicio.jpg" class="d-block w-100" alt="...">
        <div class=" contactanos carousel-caption d-none d-md-block">
          <a href="https://wa.me/+573058180686"target="_blank" class="contactanosInicio btn btn-primary">Contactanos</a>
        </div>
      </div>
      <div class="carousel-item" style="width: 100%; height: 25rem;">
        <img src="assets/img/guitarrainicio.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <a href="https://wa.me/+573058180686"target="_blank" class="contactanosInicio btn btn-primary">Contactanos</a>
        </div>
      </div>
      <div class="carousel-item" style="width: 100%; height: 25rem;">
        <img src="assets/img/violininicio.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <a href="https://wa.me/+573058180686"target="_blank" class="contactanosInicio btn btn-primary">Contactanos</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>

  
  
  <!--medios de pago-->
  <div class="d-flex justify-content-center pago bg-secondary" style="width: 100%; height: 18rem;">
    <div class="row"style="width: 100%; height: 18rem;">
      <div class="col-lg-6">
        <div class="card" style="height: 12rem; width: 35rem; margin-top: 2rem;" >
          <div class="card-body" >
            <img class="img-fluid justify-content-center " src="assets/img/nequi.png" alt=""style="padding-top:2rem;   height: 8rem;"  >
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card" style="height: 12rem; width: 35rem; margin-top: 2rem;" >
          <div class="card-body  ">
            <img class="img-fluid" src="assets/img/daviplata.png" alt=""style=" padding-left: 4rem; "  > 
          </div>
        </div>
      </div>
    </div>
  </div>

  
<!--galeria-->

<div class="bg-dark">
  <div><h2 class="text-center text-white display-4"><strong>Galeria</strong></h2></div>
  <div class="d-flex justify-content-center bg-dark" style="width: 100%; height: 25rem;">
    <div class="d-flex justify-content-center">
      <div style="height: 10rem; height: 10rem;">
        <img class="img-fluid" src="assets/img/CORO.jpg" alt="">
      </div>
      <div style="height: 10rem; height: 10rem;">
        <img class="img-fluid" src="assets/img/Esteban tocando piano.jpg" alt="">
      </div>
      <div style="height: 10rem; height: 10rem;">
        <img class="img-fluid" src="assets/img/sofia usme.jpg" alt="">
      </div>
      <div style="height: 10rem; height: 10rem;">
        <img class="img-fluid" src="assets/img/solimar tocando bateria.jpg" alt="">
      </div>
    </div>
  </div>
</div>



<!--https://www.youtube.com/watch?v=1BiG9eCYCU0&ab_channel=AcademiaOrodeOfir
https://www.youtube.com/watch?v=JjWL-1B8qI8&feature=emb_imp_woyt&ab_channel=AcademiaOrodeOfir -->