<app-navbar></app-navbar>
<div class="bg-secondary">
    <div class="container">
        <div>
            
            <h1 class="text-white text-center">Terminos y Condiciones</h1>
        </div>
        <div>
            <p class="text-white">
                Bienvenido a academiaorodeofir.com. Si continúa navegando y utilizando este sitio web, acepta cumplir y estar sujeto a los siguientes términos y condiciones de uso, que junto con nuestra política de privacidad rigen la relación de [nombre del sitio] con usted en relación con este sitio web.
 
                El término academiaorodeofir.com o 'nosotros' o 'nosotros' se refiere al propietario del sitio web. El término "usted" se refiere al usuario o visitante de nuestro sitio web. El uso de este sitio web está sujeto a los siguientes términos de uso:
 
                El contenido de las páginas de este sitio web es solo para su información general y uso. Está sujeto a cambios sin previo aviso.
                Ni nosotros ni ningún tercero brindamos ninguna garantía en cuanto a la precisión, puntualidad, rendimiento, integridad o idoneidad de la información y los materiales encontrados u ofrecidos en este sitio web para cualquier propósito en particular. Usted reconoce que dicha información y materiales pueden contener imprecisiones o errores y excluimos expresamente la responsabilidad por tales imprecisiones o errores en la mayor medida permitida por la ley.
                El uso de cualquier información o material en este sitio web es bajo su propio riesgo, por lo que no seremos responsables. Será su responsabilidad asegurarse de que cualquier producto, servicio o información disponible a través de este sitio web cumpla con sus requisitos específicos.
                Este sitio web contiene material que nos pertenece o tiene licencia. Este material incluye, entre otros, el diseño, el diseño, el aspecto, la apariencia y los gráficos. Se prohíbe la reproducción de otra manera que no sea de acuerdo con el aviso de copyright, que forma parte de estos términos y condiciones.
                Todas las marcas registradas que se reproducen en este sitio web, que no son propiedad ni están autorizadas por el operador, se reconocen en el sitio web.
                El uso no autorizado de este sitio web puede dar lugar a un reclamo por daños y perjuicios y / o ser un delito penal.
                De vez en cuando, este sitio web también puede incluir enlaces a otros sitios web. Estos enlaces se proporcionan para su conveniencia para proporcionar más información. No significan que respaldamos los sitios web. No tenemos responsabilidad por el contenido de los sitios web vinculados.
                No puede crear un enlace a este sitio web desde otro sitio web o documento sin el consentimiento previo por escrito de academiaorodeofir.com

            </p>
        </div>

    </div>
</div>
<!--footer-->
<hr>
<app-footer></app-footer>
