
<!--foto portada-->
<header>
  <div>
    <app-navbar></app-navbar>
  </div>
  <div style="width: 100%; height: 25rem;">
    <div class="d-flex justify-content-center" style="width: 100%; height: 30rem;">
      <img  class="img-fluid" src="assets/img/imgQuienessomos/portadaquienessomos.jpg" alt="" style="width: 100%; height: 28rem;">
      <div class="tituloSomos text-white "><h1 class="display-3"><strong>Quienes Somos?</strong></h1></div>
  </div>
  </div>
</header>


  <div class=" linea">
    <hr class="separador">
  </div>
  
<!--quienes somos-->
<div class="d-flex justify-content-center bg-secondary" style="width: 100%; height: 30rem;">
    <div class="row bg-secondary d-flex justify-content-center" style="width: 100%;" >
        <div class="col-sm-4" >
          <div class="card bg-secondary " style="height: 20rem; margin-top: 4rem;">
            <div class="card-body bg-secondary">
              <p class="card-text text-white"><strong>Somos una academia de formacion musical, 
                                            que a traves de clases personalizadas se encarga de instruir al estudiante en el arte de la musica; 
                                            de igual manera trabajamos por contribuir en el cambio para la transformacion social acercandonos
                                             no solo a los estudiantes sino a las familias que se esfuerzan por 
                                             encontrar en la musica la proyeccion de nuevos talentos. </strong></p>
              <a href="https://wa.me/+573058180686"target="_blank" class="btn btn-primary contactanos">Contactanos</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4 bg-secondary " style="height: 25rem; margin-top: 4rem;">
          <div class="card bg-secondary">
            <div class="card-body bg-secondary">
              <div>
                  <img src="assets/img/imgQuienessomos/fotoquienessomos.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


<!--footer-->
<app-footer></app-footer>