<app-navbar></app-navbar>

<div class="bg-secondary">
    
            <div class="text-center text-white">
                <h1 class="text-center text-white"><strong>Politica de Privacidad</strong></h1>
            </div>
            <div>
                <p class="text-white">
                    En academiaorodeofir.com, la privacidad de nuestros visitantes es de extrema importancia para nosotros. Este documento de política de privacidad describe los tipos de información personal que recibe y recopila [nombre del sitio] y cómo se utiliza.
                </p>
            </div>
            <div>
                <h3 class="text-white">Archivos de registro</h3>
            </div>
            <div>
                <p class="text-white">
                    Al igual que muchos otros sitios web, academiaorodeofir utiliza archivos de registro. La información dentro de los archivos de registro incluye direcciones de protocolo de Internet (IP), tipo de navegador, proveedor de servicios de Internet (ISP), sello de fecha / hora, páginas de referencia / salida y número de clics para analizar tendencias, administrar el sitio, rastrear el movimiento del usuario alrededor del sitio y recopilar información demográfica. Las direcciones IP y otra información similar no están vinculadas a ninguna información que sea personalmente identificable.
                </p>
            </div>
            <div>
                <h3 class="text-white">Cookies y balizas web</h3>
            </div>
            <div>
                <p class="text-white">
                    academiaorodeofir.com utiliza cookies para almacenar información sobre las preferencias de los visitantes, registrar información específica del usuario en qué páginas accede o visita el usuario, personaliza el contenido de la página web según el tipo de navegador de los visitantes u otra información que el visitante envía a través de su navegador.
                </p>
            </div>
            <div>
                <h3 class="text-white">Cookie de DoubleClick DART</h3>
            </div>
            <div>
                <p class="text-white">
                    Google, como proveedor externo, utiliza cookies para publicar anuncios en academiaorodeofir.com.
                    El uso de Google de la cookie de DART le permite publicar anuncios a los usuarios en función de su visita a academiaorodeofir.com y otros sitios en Internet.
                    Los usuarios pueden optar por no usar la cookie de DART visitando la política de privacidad de la red de contenido y anuncios de Google en la siguiente URL: https://www.google.com/policies/privacy/.
                    Estos servidores de anuncios de terceros o redes publicitarias utilizan tecnología para los anuncios y enlaces que aparecen en [nombre del sitio] que se envían directamente a sus navegadores. Reciben automáticamente su dirección IP cuando esto ocurre. Las redes publicitarias de terceros también pueden utilizar otras tecnologías (como cookies, JavaScript o balizas web) para medir la efectividad de sus anuncios y / o personalizar el contenido publicitario que ve.
                    academiaorodeofir.com no tiene acceso ni control sobre estas cookies que utilizan anunciantes externos.
                </p>
            </div>
            <div>
                <p class="text-white">
                    Debe consultar las políticas de privacidad respectivas de estos servidores de anuncios de terceros para obtener información más detallada sobre sus prácticas, así como para obtener instrucciones sobre cómo darse de baja de ciertas prácticas. La política de privacidad de academiaorodeofir.com no se aplica y no podemos controlar las actividades de otros anunciantes o sitios web.
                </p>
            </div>
            <div>
                <p class="text-white">
                    Si desea desactivar las cookies, puede hacerlo a través de las opciones de su navegador individual. Se puede encontrar información más detallada sobre la gestión de cookies con navegadores web específicos en los respectivos sitios web del navegador.
                </p>
            </div>
            <div>
                <p class="text-white">Enviar comentarios</p>
                <p class="text-white">Historial</p>
                <p class="text-white">Guardadas</p>
                <p class="text-white">Comunidad</p>
            </div>


            
       
 
</div>

<!--footer-->
<hr>
<app-footer></app-footer>
